body {
    background-color: lightgray;
}

.title {
    background-color: white;
    border: solid;
    text-align: center;
    width: 60%;
    font-size: 30px;
    margin-left: 20%;
}

.logout_button {
    font-size: 15px;
    margin-left: 5px;
    margin-top: 20px;
}

.to_title_button {
    margin-top: 30px;
    width: 7%;
    text-align: left;
    padding-left: 10px;
}

.back_button{
    margin-top: 30px;
}

h1{
    text-align: center;
    width: 60%;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 30px;
}

.thead {
    background-color: darkgray;
}

.error{
    color: red;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 20%;
    font-style: italic;
}

/*  Title Page: */
#div_with_buttons {
    width: 60%;
    display: flex;
    margin-top: 30px;
    padding-left: 20%;
    font-size: 20px;
}

#students_button {
    margin-top: 40px;
    text-align: left;
}

#disciplines_button {
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#terms_button {
    margin-top: 40px;
    text-align: right;
}

/* Students List: */

#buttons {
    width: 60%;
    display: flex;
    margin-top: 34px;
    margin-bottom: 40px;
    margin-left: 13%;
}

.left_button {
    width: 350px;
    height: 30px;
    border: 2px black solid;
    background-color: rgb(175, 175, 175);
    margin-right: 40px;
    margin-bottom: 20px;
}

.right_button {
    width: 250px;
    height: 30px;
    border: 2px black solid;
    background-color: rgb(175, 175, 175);
    margin-bottom: 20px;
}

#text {
    margin-left: 20%;
    font-size: 20px;
}


#students_table {
    margin-top: 10px;
    border: 1px solid dimgray;
    border-collapse: collapse;
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}

.th1 {
    padding-top: 60px;
    padding-bottom: 20px;
    border: 1px solid dimgrey;
}

.td1 {
    border: 1px solid dimgrey;
    height: 100px;
    text-align: center;
}


/* Student Modifying: */

h1{
    text-align: center;
    width: 60%;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 30px;
}

.input_field{
    width: 240px;
    height: 30px;
    margin-left: 10px;

}
.apply_button{
    width: 155px;
    height: 30px;
    border: 1px black solid;
    background-color: rgb(175, 175, 175);
    margin-left: 30.5%;
}
.span1{
    width: 30%;
    text-align: right;
    padding-top: 17px;
}

.student_fields{
    display: flex;
    margin-bottom: 30px;
}

#surname_field{
    margin-top: 50px;
}

/* Student Progress: */

#student_info {
    margin-top: 10px;
    border: 1px solid dimgray;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.th2 {
    height: 30px;
    border: 1px solid dimgrey;
}

.td2 {
    border: 1px solid dimgrey;
    height: 30px;
    text-align: center;
}

#student_marks {
    margin-top: 50px;
    border: 1px solid dimgray;
    border-collapse: collapse;
    width: 30%;
    margin-left: 20%;

}
.th3 {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid dimgrey;
    text-align: left;
}

.td3 {
    border: 1px solid dimgrey;
    height: 100px;
    text-align: left;
}

#selectvalue{
    width: 200px;
    height: 30px;
}

#choose_button{
    width: 110px;
    height: 30px;
    border: 1px black solid;
    background-color: rgb(175, 175, 175);
}
#term_choose{
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 25px;
}

#middle_mark{
    margin-top: 30px;
}

/* Disciplines List: */

#disciplines_list {
    margin-top: 50px;
    border: 1px solid dimgray;
    border-collapse: collapse;
    width: 30%;
    margin-left: 20%;

}
.th4 {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid dimgrey;
    text-align: center;
}

.td4 {
    border: 1px solid dimgrey;
    height: 100px;
    text-align: left;
}

.discipline_modify_button{
    width: 350px;
    height: 30px;
    border: 2px black solid;
    background-color: rgb(175, 175, 175);
    margin-top: 25px;
    margin-left: 75px;
}

/* Discipline Creating & Modifying*/
#h1_discipline_creating{
    font-size: 25px;
}
#h1_discipline_modifying{
    font-size: 22px;
}

.span3{
    width: 23%;
    text-align: right;
    padding-top: 17px;
}

.apply_button1{
    width: 155px;
    height: 30px;
    border: 1px black solid;
    background-color: rgb(175, 175, 175);
    margin-left: 23.5%;
}
/* Terms: */
#discipline_name1{
    text-align: left;
}
#term_choose1{
    margin-left: 16%;
    margin-top: 50px;
    font-size: 20px;
}
#span_choose_term{
    margin-right: 30px;
}
.span2{
    margin-left: 20%;
    font-size: 20px;
    margin-top: 30px;
}
#choose1{
    width: 240px;
    height: 30px;
    margin-left: 10px;
}